<h1><%= t("Licenses") %></h1>

<ul class="tabs" data-tabs="tabs">
  <li><a href="/licenses"><%= t("List") %></a></li>
  <li class="active"><a href="/licenses/new"><%= t("Create") %></a></li>
</ul>

<div class="tab-content">
  <div class="active tab-pane" id="create">
    <%= render 'form' %>
  </div>
</div>
