<ul class="tabs" data-tabs="tabs">
  <li><a href="/users">List</a></li>
  <li><a href="/users#create">Create</a></li>
</ul>

<div class="tab-content">
  <div class="active tab-pane" id="list">
    <%= render 'list' %>
    <%= render 'form' %>
  </div>
</div>
