  <% if !@latests.nil? %>
    <center>
    <br/><br/><br/>
    <h3> <%= t("Latest News") %></h3>
    <br/>
        <% @latests.each do |text| %>
            <p><%= link_to text.title, text %></p>
            <hr style="width:150px;" />
        <% end %>
    </center>
  <% end %>
