<h1><%= t("Texts") %></h1>

<ul class="tabs" data-tabs="tabs">
  <li><a href="/texts"><%= t("List") %></a></li>
  <% if user_signed_in? %>
    <li class="active"><a href="/texts/new"><%= t("Create") %></a></li>
  <% end %>
</ul>

<div class="tab-content">
  <div class="active tab-pane" id="create">
    <%= render 'form' %>
  </div>
</div>
