<p>
<b>jCMS - juntaDados Content Managament System</b> (GPLv3)
<br/>
<b><a href="http://rubyonrails.org/">Ruby on Rails 3.2.3</a></b>
<br/>
<a href="http://git.rejunte.org/?p=jcms.git;a=summary">See and Get the Code at Rejunte</a>
<br/>
Running in Debian Squeeze + nginx + Passenger (mod_rails) + PostgreSQL</b>
</p>
