<p>
<b>jCMS - juntaDados Content Managament System</b> (GPLv3)
<br/>
<b><a href="http://rubyonrails.org/">Ruby on Rails 3.2.1</a></b>
<br/>
Running in Debian Squeeze + nginx + Passenger (mod_rails) + PostgreSQL</b>
</p>
